@model IEnumerable<EFCore.DB.Answer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">

    .soluotxem{
            min-width: 48px;
    height: 48px;
    border: 1px solid #ddd;
    display: block;
    float: left;
    margin-left: 5px;
    text-align: center;
    font-size: 11px;
    line-height: 1;
    }
    .soluotxem strong{
        font-size: 14px;
    line-height: 26px;
    display: block;
    font-weight: normal;
    }
    .dwqa-search {
            margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
    width: 81%;
}
    .dwqa-search input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-right: 40px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 0 !important;
    background: url(/assets/Client/images/icon-search.png) no-repeat right 10px center #fff !important;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 2px;
    box-shadow: none;
    outline: none;
}
    </style>
<div class="content">
  
    <div class="content_top">
        <div class="heading">
            <h3>HỎI ĐÁP</h3>
        </div>
        <div class="clear"></div>
    </div>
    <div id="dwqa-search" class="dwqa-search">
        <form id="dwqa-search" class="dwqa-search"><input data-nonce="2455ead392" type="text" placeholder="Bạn muốn biết gì?" name="qs" value=""></form>
    </div>
    @foreach (var item in Model)
    {
        <div class="image group">
            <div style=" width: 5%;    float: left;">
               <img src="~/assets/Client/images/none.png" alt="" />
            </div>
            <div class="grid news_desc">
                <div class="tieude" style=" width: 80%;    float: left;">
                <h3 ><a href="/Answer/Detail?id=@item.ID">@item.Title </a></h3>
                <h4> Thời gian @item.Date.Value.ToString("dd/MM/yyyy")</h4>
                    </div>
                <span class="soluotxem"><strong>@item.CountView</strong>Lượt xem</span>
            </div>
        </div>
    }


    @if (ViewBag.TotalPage > 1)
    {
        var pageDisplay = (int)ViewBag.MaxPage;
        int totalPage = (int)ViewBag.TotalPage;
        int currentPage = ((int)ViewBag.Page);

        // Create numeric links
        var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
        var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

        var link = "/tin-tuc";
        <nav>
            <ul class="pagination">
                @if (currentPage > ViewBag.First)
                {
                    <li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                    <li>
                        <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                    </li>

                }
                @for (int i = startPageIndex; i <= endPageIndex; i++)
                {
                    if (currentPage == i)
                    {

                        <li> <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                    }
                    else
                    {
                        <li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>
                    }
                }
                @if (currentPage < totalPage)
                {
                    <li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                    <li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                }

            </ul>
        </nav>

    }
</div>
