@model PagedList.IPagedList<EFCore.common.OrderModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách đơn đặt hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>
    @section header{
       Danh sách đơn đặt hàng
    }
</h2>
<div class="horz-grid">
    <div class="panel panel-default">
        <div class="panel-heading" style="font-family: initial; font-size: 19px; color: #b73333;">
            Danh sách Đặt hàng
        </div>

        <!-- /.panel-heading -->
        <div class="panel-body">
            @using (Html.BeginForm("Index", "Products", FormMethod.Get))
            {
                <div class="row form-group">
                    <div class="col-lg-12">
                        <div class="col-md-4">
                            <input type="text" value="@ViewBag.SearchString" class="form-control" placeholder="Nhập thông tin tìm kiếm" name="searchString" />
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success">Tìm kiếm</button>
                            <a class="btn btn-primary" href="/Admin/Products/Create">Thêm mới</a>
                        </div>
                    </div>
                </div>
            }
            <div class="table-responsive">
                <table id="example" class="table table-bordered" height="120">
                    <thead>
                        <tr>
                            <th>
                                Tên khách hàng
                            </th>
                        
                            <th>
                                Sản phẩm
                            </th>
                            <th>
                                Giá
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Người nhận
                            </th>
                            <th>
                                SDT người nhận
                            </th>
                            <th>
                                Đ/C người nhận
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Ngày đặt hàng
                            </th>
                            <th>
                                Trạng thái
                            </th>

                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerID)
                                </td>
                          
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipMobile)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipAddress)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipEmail)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>

                                <td>
                                    <a href="#" class="btn-active-status" data-id="@item.ID">@Html.Raw(item.Status == true ? "<strong>Đã xử lý</strong>" : "Xử lý")</a>
                                </td>

                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) 
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
</div>
