@model PagedList.IPagedList<EFCore.DB.Menu>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var stt = 0;
}

<style>
    .span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #333;
    }
</style>

<script>
    function Delete($id, $Text) {
        debugger;
        if (confirm('Xác nhận xóa "' + $Text + '"')) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Menu", "Delete")',
                data: { 'ID': $id },
                dataType: 'json',
                success: function (respon) {
                    if (respon == 1) alert("Xóa thành công!");
                    else alert("Xóa thất bại. Vui lòng thử lại sau")
                    setTimeout(function () { document.getElementById("TimKiem").click(); }, 3000);
                }
            });
        }
    }
</script>

<h2>
    @section header{
        Menu
    }
</h2>
<div class="horz-grid">
    <div class="panel panel-default">
        <div class="panel-heading" style="font-family: initial; font-size: 19px; color: #b73333;">
            Danh sách  sản phẩm
        </div>

        <!-- /.panel-heading -->
        <div class="panel-body">
            @using (Html.BeginForm("Index", "Menu", FormMethod.Get))
            {
                <div class="row form-group">
                    <div class="col-lg-12">
                        <div class="col-md-4">
                            <input type="text" value="@ViewBag.SearchString" class="form-control" placeholder="Nhập thông tin tìm kiếm" name="searchString" />
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success" id="TimKiem">Tìm kiếm</button>
                            <a class="btn btn-primary" href="/Admin/Menu/Create">Thêm mới</a>
                        </div>
                    </div>
                </div>
            }

            <div class="table-responsive">
                <table id="example" class="table table-bordered" height="120">
                    <thead class="thead-inverse">
                        <tr>
                            <th>
                                STT
                            </th>
                            <th>
                                Tên hiển thị
                            </th>
                            <th>
                                Đường dẫn
                            </th>
                            <th>
                                thứ tự hiển thị
                            </th>
                            <th>
                                Mục tiêu
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>
                                Loại menu
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr id="row_@item.ID">
                                <td>
                                    @(stt += 1)
                                </td>
                                <td>
                                    @item.Text
                                </td>
                                <td>
                                    @item.Link
                                </td>
                                <td>
                                    @item.DisplayOrder
                                </td>
                                <td>
                                    @item.Target
                                </td>
                                <td>
                                    @if (item.Status == true)
                                    {
                                        <span>Hiển thị</span>
                                    }
                                    else
                                    {
                                        <span>Ẩn</span>
                                    }
                                </td>
                                <td>
                                    @if (item.TypeID == 1)
                                    {
                                        <span class="span">Top menu</span>
                                    }
                                    else
                                    {
                                        <span class="span">Main menu</span>
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-pencil" }) |
                                    <a href="#" id="@item.ID" onclick="Delete('@item.ID','@item.Text');"><i class="glyphicon glyphicon-trash"></i></a>
                                    @*@Html.ActionLink(" ", "Delete", new { @id = item.ID }, new { @class = "glyphicon glyphicon-trash" })*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
</div>