@model  EFCore.DB.Images

@{
    ViewBag.Title = "Danh mục hình ảnh";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Danh mục hình ảnh > thêm mới
}
<div class="horz-grid">
    @using (Html.BeginForm("Create", "Images", null, FormMethod.Post,
                              new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <div class="editor-label">
                @Html.(model => model.Name)
            </div>
            <div class="editor-field">
                <input id="ImagePath" title="Upload a product image"
                       type="file" name="file" />
            </div>
            <div class="gallery-img">
                <a href="~/assets/Admin/images/ @Html.LabelFor(model => model.Name)" class="b-link-stripe b-animate-go  swipebox" title="@item.Title">
                    <img class="img-responsive " src="~/assets/Admin/images/@item.Name" alt="" />
                    <span class="zoom-icon"> </span>
                </a>
            </div>
            <p><input type="submit" class="btn btn-success" value="Create" /></p>
        </fieldset>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>